<ion-view view-title="Home">
  <ion-content ng-controller="HomeCtrl">
  	<a href="#/play" class="simple">
	    <button class="button button-full button-positive">
	      Üben
	    </button>
    </a>
    <a href="#/stats" class="simple">
	    <button class="button button-full button-positive">
	      Statistiken
	    </button>
    </a>
    <a href="#/settings" class="simple">
	    <button class="button button-full button-positive">
	      Einstellungen
	    </button>
    </a>

  </ion-content>
</ion-view>