<ion-view view-title="Einstellungen">
  <ion-content ng-controller="SettingsCtrl">

	<div class="list">
		<div class="item item-divider">Allgemeine Einstellungen</div>
		<div class="item">
			
			Übersetzungen abfragen WARNUNG BETA

			<label class="toggle right">
			   <input type="checkbox" ng-model="generalSetttings.translation">
			   <div class="track">
			     <div class="handle"></div>
			   </div>
			</label>
		</div>
		<div class="item">
			
			Leere Eingaben zu - umwandeln

			<label class="toggle right">
			   <input type="checkbox" ng-model="generalSetttings.emptyToDash">
			   <div class="track">
			     <div class="handle"></div>
			   </div>
			</label>
		</div>
		<div class="item item-divider">Lektionen</div>

		<div ng-repeat="number in lekData.numbers" class="item">

			Lektion {{ number }}

			<label class="toggle right">
			   <input type="checkbox" ng-model="lekData.selectedObj[number]">
			   <div class="track">
			     <div class="handle"></div>
			   </div>
			</label>

		</div>

	</div>

  </ion-content>
</ion-view>