/* Empty. Add your own CSS if you like */
a.simple {
	text-decoration: none;
}

/*
.button-block {
	margin-left: 10px;
	margin-right: 10px;
}
*/

.center {
	text-align: center;
}

input.right-answer {
	color: #4CD964;
}

input.wrong-answer {
	color: #FF3B30;
}

.toggle-right {
	float: right;
}